{
	"root": true,
	"env": {
		"node": true
	},
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"tsconfigRootDir": ".",
		"project": [
			"./tsconfig.json"
		]
	},
	"plugins": [
		"@typescript-eslint"
	],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:@typescript-eslint/recommended-requiring-type-checking"
	],
	"rules": {
		"comma-dangle": ["error", "always-multiline"],
		"comma-style": ["error", "last"],
		"semi": ["error", "always"],
		"semi-spacing": ["error", {
			"before": false,
			"after": true
		}],
	},
	"ignorePatterns": [
		"dist/",
		"node_modules/"
	]
}
