{
	"root": true,
	"env": {
		"node": true
	},
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"tsconfigRootDir": ".",
		"project": true
	},
	"plugins": [
		"@typescript-eslint"
	],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended-type-checked",
		"plugin:@typescript-eslint/stylistic-type-checked"
	],
	"rules": {
		"comma-dangle": ["error", "always-multiline"],
		"comma-style": ["error", "last"],
		"quotes": ["warn", "single"],
		"semi": ["error", "always"],
		"semi-spacing": ["error", {
			"before": false,
			"after": true
		}],
		"@typescript-eslint/no-empty-interface": 0
	},
	"ignorePatterns": [
		"dist/",
		"node_modules/"
	]
}
